<!DOCTYPE HTML>
<html>
<head>
</head>

<body>
<div id="sidebar">
	<img src="/assets/chicagobulls.jpg">
	<img src="/assets/lakers.jpg">
	<img src="/assets/droseshoes.jpg">
	<img src="/assets/kdshoes.png">
	<img src="/assets/jordans.jpg">
	<img src="/assets/nike.jpg">
</div>
<!-- <p>Move ball with left and right arrow keys</p>
 --><canvas id="canvas" width="1200" height="650"></canvas>
<div id='scoreboard'>
  <div id='score-col1'>
    <div id='p1-score'>
      0
    </div>
  </div>
  <div id='score-col2'>
    <div id='p2-score'>
      0
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="/assets/spark.js"></script>
</html>
