
html {
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding:20px;
}

img{
  max-width: 100%;
  height: auto;
}

.flash.error {
    color: #FB3A3A;
    font-weight: bold;
}

.flash.message {
    color: #16a11d;
    font-weight: bold;
}

label.error {
    color: #FB3A3A;
    margin: 4px 0 5px 0;
    padding: 0;
    text-align: left;
    width: 220px;
}

#canvas {
    margin: 10px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    border:1px solid red;
    background-color: #fff;
    background-image: url('/assets/baseketball_court.png');
    background-repeat: repeat;
    background-size: 115% auto;
}

h1{
    margin: 10px auto 0 auto;
}

p{
    margin-top: 80px !important;
}

.well{
    margin-top: 60px;
}
